.contacts {
  margin: 0 auto;
  margin-top: 87px;
}

.contacts__title {
  width: 292px;
  margin: 0 auto;
  padding: 0;
  padding-left: 28px;
  position: relative;

  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-align: left;
  color: $color-dark;

  &::after {
    content: "";
    position: absolute;
    top: -42px;
    width: 325px;
    right: 5px;
    height: 6px;

    background: url("../img/bg-zigzag-line.svg") no-repeat 0 0;
    background-size: 100% auto;
  }
}

.contacts__field {
  width: 72px;
  padding-bottom: 26px;

  font-size: 15px;
  font-weight: normal;
  line-height: 2;
  text-align: left;
  vertical-align: top;
  color: $color-bright;
}

.contacts__value {
  display: block;
  width: 145px;
  padding-left: 2px;

  font-size: 15px;
  font-weight: normal;
  line-height: 2;
  text-align: left;
  color: $color-bright;
}

.contacts__button {
  margin: 0 auto;
  margin-top: 39px;

  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: $color-bright;

  text-transform: uppercase;

  &:hover {
    color: #ffffff;

    background-color: $color-bright;
  }

  &:focus,
  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: $color-bright;
  }
}

.contacts__link {
  display: block;
  height: 30px;
  width: 178px;

  font-size: 15px;
  font-weight: normal;
  line-height: 2;
  text-align: left;
  color: #444444;

  border-bottom: solid 1px $hvr-scnd-btn-color;

  &:hover {
    color: $hvr-scnd-btn-color;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}

.contacts__table {
  margin: 0 auto;
  padding-left: 12px;
  margin-top: 22px;
  margin-bottom: 35px;
  width: 293px;
}

.contacts__map {
  width: 100%;
  height: 457px;

  background: url("../img/map-mobile@1x.jpg") no-repeat center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: cover;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-top: 147px;
    width: 100%;
    position: relative;
  }

  .contacts__title {
    padding: 0;
    width: 678px;

    font-size: 43px;
    line-height: 1.16;

    &::after {
      top: -79px;
      width: 775px;
      left: -50px;
      height: 15px;

      background: url("../img/bg-zigzag-line.svg") no-repeat 0 0;
      background-size: 100% auto;
      transform: rotate(180deg);
    }

    &::before {
      content: "";

      position: absolute;
      width: 47px;
      height: 81px;
      top: -16px;
      right: 8px;

      background: url("../img/icon-flag.svg") no-repeat;
    }
  }

  .contacts__table {
    width: 701px;
    margin: 0 auto;
    margin-top: 46px;
    margin-bottom: 55px;
  }

  .contacts__table tbody {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .contacts__table tr {
    display: flex;
    width: 335px;
  }

  .contacts__field,
  .contacts__value {
    font-size: 17px;
    line-height: 1.76;
  }

  .contacts__button {
    margin: 0 auto;
    margin-top: 56px;
    width: 225px;
    padding-top: 15px;
    height: 33px;

    font-size: 17px;
  }

  .contacts__link {
    display: block;
    height: 29px;
    width: 200px;

    font-size: 17px;
    line-height: 1.76;
  }

  .contacts__map {
    width: 100%;
    height: 457px;

    background: url("../img/map-tablet@1x.jpg") no-repeat center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: cover;
    }
  }

  .contacts__value {
    padding-left: 4px;
    width: 225px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    width: 1150px;
    height: 500px;
  }

  .contacts__field {
    padding-bottom: 31px;
  }

  .contacts__title {
    padding-left: 63px;
    padding-top: 78px;
    width: 200px;
    position: relative;

    font-size: 53px;
    line-height: 1.08;

    &::after {
      position: absolute;

      top: -87px;
      width: 1055px;
      left: -109px;
      height: 23px;

      background: url("../img/bg-zigzag-line.svg") no-repeat 0 0;
      background-size: 100% auto;
      transform: rotate(180deg);
    }

    &::before {
      content: "";

      position: absolute;
      width: 47px;
      height: 81px;
      top: 68px;
      left: -43px;

      background: url("../img/icon-flag.svg") no-repeat;
    }
  }

  .contacts__button {
    margin-left: 226px;
    margin-top: 25px;
  }

  .contacts__map {
    margin-top: 8px;
    width: 525px;
    height: 457px;

    background: url("../img/map-desktop@1x.jpg") no-repeat center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: cover;
    }

    order: 4;
  }

  .contacts__table tbody {
    flex-direction: column;
  }

  .contacts__table {
    display: block;
    margin-top: 48px;
    margin-left: 211px;
    width: 300px;
  }

  .contacts__link {
    display: block;
    height: 30px;
    width: 200px;
  }
}
