.copyright__text {
  margin: 0;
  padding: 0;
  margin-top: 47px;
  margin-left: 33px;

  font-size: 19px;
  font-weight: bold;
  line-height: 0.95;
  text-align: left;
  color: $color-dark;
}

.copyright__link {
  width: 182px;
  padding-left: 24px;
  padding-top: 41px;
  padding-bottom: 30px;

  fill: $btn-color;

  &:hover {
    fill: $hvr-scnd-btn-color;
  }

  &:focus,
  &:active {
    fill: $hvr-scnd-btn-color;

    opacity: 0.3;
  }
}

.copyright {
  display: flex;
  width: 250px;
  margin: 0 auto;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright__text {
    margin-top: 63px;
    margin-left: 46px;
  }

  .copyright__link {
    padding-top: 58px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__text {
    margin-top: 63px;
    margin-left: 142px;
  }

  .copyright__link {
    padding-top: 58px;
  }
}
