.filter-color {
  margin: 0;
  padding: 0;
  margin-top: 44px;

  border: none;
}

.filter-color__name {
  position: relative;

  font-size: 17px;
  font-weight: bold;
  line-height: 0.94;
  text-align: left;
  text-transform: uppercase;

  color: $btn-color;

  &::after {
    content: "";

    position: absolute;
    width: 198px;
    height: 1px;

    top: 7px;
    left: 62px;

    background-color: $btn-color;
  }
}

.filter-color__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-color__item {
  position: relative;
  width: 155px;
  padding-top: 36px;
  margin-bottom: 7px;
  margin-left: 62px;

  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  text-align: left;

  color: $color-dark;
}

.filter-color__label {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    width: 36px;
    height: 36px;

    top: -8px;
    left: -62px;

    border: solid 2px $color-dark;
  }

  &:hover::after {
    border: solid 2px $btn-color;
  }

  &:active::after {
    border: solid 2px #c8c8c8;
  }
}

.filter-color__input:checked + .filter-color__label {
  &::before {
    content: "";

    position: absolute;
    width: 22px;
    height: 16px;

    top: 4px;
    left: -53px;

    background: url("../img/tick-mobile-svg.svg") no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .filter-color {
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: 11px;
    min-height: 304px;

    background-color: $bg-color-footer;
  }

  .filter-color__list {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    margin-top: 14px;
    margin-left: 194px;
  }

  .filter-color__name {
    position: absolute;

    top: 69px;
    left: 52px;
  }

  .filter-color__name::after {
    display: none;
  }

  .filter-color__item {
    padding-top: 52px;
    margin-bottom: 6px;
    margin-left: 105px;

    font-size: 19px;
    font-weight: bold;
    line-height: 0.95;
    text-align: left;
    color: $color-dark;
  }

  .filter-color__label::after {
    width: 50px;
    height: 48px;

    top: -11px;
    left: -81px;
  }

  .filter-color__input:checked + .filter-color__label {
    &::before {
      width: 33px;
      height: 22px;

      top: 5px;
      left: -70px;

      background: url("../img/icon-tick.svg") no-repeat;
    }
  }
}

@media (min-width: $desktop-width) {
  .filter-color {
    min-height: 228px;
    width: 994px;

    padding-left: 156px;
    margin-top: 10px;
  }

  .filter-color__name {
    top: 68px;
    left: 110px;
  }

  .filter-color__list {
    width: 800px;
    margin-top: 13px;
    margin-left: 46px;
  }

  .filter-color__item {
    width: 157px;
  }
}
