.manufacturing {
  position: relative;
  margin: 0 auto;
  width: 260px;
  min-height: 500px;
  margin-top: 32px;
  margin-bottom: 58px;

  border: 1px solid #ececec;

  &::before {
    content: "";

    position: absolute;
    width: 32px;
    height: 26px;

    top: 28px;
    left: 34px;

    background: url("../img/icon-video.svg") no-repeat 0 0;
  }

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:focus,
  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.manufacturing__img {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    width: 101px;
    height: 77px;

    top: -98px;
    left: 80px;

    background: url("../img/icon-play.svg") no-repeat 0 0;

    cursor: pointer;
  }

  &:hover::after {
    transform: scale(1.2);
  }

  &:active::after {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.manufacturing__title {
  margin: 0;
  padding: 0;
  margin-left: 90px;
  margin-top: 23px;
  margin-bottom: 26px;


  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-align: left;
  color: $color-dark;
}

.manufacturing__info {
  margin: 0;
  padding: 0;
  margin-top: 17px;
  margin-left: 34px;
  margin-right: 43px;

  font-size: 13px;
  font-weight: normal;
  line-height: 1.85;
  text-align: left;
  color: $color-bright;
}

.manufacturing__button {
  width: 188px;
  margin-top: 25px;
  margin-left: 34px;
  padding-top: 15px;
  height: 33px;

  font-size: 17px;
  font-weight: bold;
  line-height: 0.94;
  text-align: center;
  color: $color-bright;
  text-transform: uppercase;

  &:hover {
    color: #ffffff;

    background-color: $color-bright;
  }

  &:focus,
  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: $color-bright;
  }
}

@media (min-width: $tablet-width) {
  .manufacturing {
    display: flex;
    flex-direction: column;
    width: 665px;

    &::before {
      top: 487px;
      left: 39px;

      background: url("../img/icon-video.svg") no-repeat 0 0;
    }
  }

  .manufacturing__img {
    &::after {
      top: 189px;
      left: 282px;

      background: url("../img/icon-play.svg") no-repeat 0 0;
    }
  }

  .manufacturing picture {
    order: -1;
  }

  .manufacturing img {
    width: 668px;
    height: 455px;
  }

  .manufacturing__title {
    margin: 0;
    margin-left: 106px;
    margin-top: 28px;
    margin-bottom: 24px;

    font-size: 20px;
    line-height: 1.2;
  }

  .manufacturing__info {
    margin: 0;
    margin-left: 39px;
    margin-top: 8px;
    width: 590px;

    font-size: 15px;
    line-height: 2;
  }

  .manufacturing__button {
    margin: 0;
    margin-left: 40px;
    margin-top: 36px;
    margin-bottom: 45px;
    width: 580px;
  }
}

@media (min-width: $desktop-width) {
  .manufacturing {
    flex-wrap: wrap;
    width: 1048px;
    margin-top: 58px;
    margin-bottom: 104px;
    height: 453px;
    min-height: 450px;

    &::before {
      top: 40px;
      left: 762px;

      background: url("../img/icon-video.svg") no-repeat 0 0;
    }
  }

  .manufacturing__img {
    &::after {
      top: 189px;
      left: 291px;

      background: url("../img/icon-play.svg") no-repeat 0 0;
    }
  }

  .manufacturing img {
    width: 682px;
    height: 453px;
  }

  .manufacturing__title {
    width: 148px;
    margin: 0;
    margin-left: 40px;
    margin-top: 94px;
  }

  .manufacturing__info {
    margin: 0;
    margin-top: 33px;
    margin-left: 40px;
    width: 250px;
  }

  .manufacturing__button {
    width: 226px;
    margin: 0;
    margin-left: 41px;
    margin-top: 46px;
  }
}
