.order {
  width: 260px;
  margin: 0 auto;
  margin-top: 23px;
}

.order__info {
  margin: 0;
  padding: 0;

  font-size: 13px;
  font-weight: normal;
  line-height: 1.85;
  text-align: left;
  color: $color-bright;
}

.order__questions {
  margin-top: 22px;
}

.order__textarea {
  margin: 0;
  margin-top: 11px;
}

.order__field {
  display: block;
  position: relative;
  width: 260px;
  margin: 0;
  padding: 0;

  font-size: 17px;
  font-weight: bold;
  line-height: 0.94;
  text-align: left;
  text-transform: uppercase;

  color: $btn-color;

  &::after {
    content: "";

    position: absolute;
    width: 198px;
    height: 1px;

    top: 8px;
    left: 62px;

    background-color: $btn-color;
  }
}

.order__value {
  margin: 0;
  padding: 0;
  margin-top: 26px;
  width: 241px;
  height: 124px;
  padding-top: 14px;
  padding-left: 15px;

  font-size: 17px;
  font-weight: normal;
  line-height: 1.06;
  text-align: left;
  color: $color-bright;

  border: solid 2px $color-dark;

  outline: none;

  resize: none;

  &::placeholder {
    opacity: 0.3;
    width: 165px;
  }

  &:hover {
    border: solid 2px $btn-color;
  }

  &:focus,
  &:active {
    border: solid 2px $btn-color;
  }
}

.order__legend {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.14;
  text-align: left;
  color: $color-bright;
}

.order__button {
  padding: 0;
  width: 260px;
  height: 52px;
  margin-top: 24px;
  margin-bottom: 55px;

  font-size: 17px;
  font-weight: bold;
  line-height: 0.94;
  text-align: center;
  color: $color-bright;
  text-transform: uppercase;

  background: #ffffff;

  cursor: pointer;

  outline: none;

  &:hover {
    color: #ffffff;

    background-color: $color-bright;
  }

  &:focus,
  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: $color-bright;
  }
}

@media (min-width: $tablet-width) {
  .order {
    width: 100%;
    margin-top: 74px;
  }

  .order__info {
    width: 665px;
    margin: 0 auto;

    font-size: 17px;
    line-height: 1.76;
  }

  .order__questions {
    margin-top: 75px;
  }

  .order__textarea {
    display: flex;
  }

  .order__field {
    margin-top: 57px;
    margin-left: 51px;
    width: 50px;

    &::after {
      display: none;
    }
  }

  .order__value {
    margin-top: 39px;
    margin-left: 115px;

    font-size: 19px;
    font-weight: normal;
    line-height: 0.95;
    text-align: left;

    width: 483px;

    &::placeholder {
      width: 370px;
    }
  }

  .order__wrapper {
    display: flex;
    margin: 0 auto;
    margin-top: 52px;
    width: 668px;

    justify-content: space-between;
  }

  .order__legend {
    margin-top: 10px;

    font-size: 17px;
    font-weight: normal;
    line-height: 1.76;
    text-align: right;

    order: 2;
  }

  .order__legend sup {
    font-size: 16px;
    top: -1px;
  }

  .order__button {
    width: 230px;
    margin: 0;

    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .order {
    margin-top: 126px;
  }

  .order__info {
    width: 675px;
    margin-left: 225px;

    font-size: 17px;
    font-weight: normal;
    line-height: 1.76;
    text-align: left;
  }

  .order__field {
    margin-top: 56px;
    margin-left: 112px;
  }

  .order__value {
    margin-top: 38px;
    margin-left: 63px;
    width: 681px;
  }

  .order__wrapper {
    margin-top: 49px;
    width: 702px;
  }

  .order__questions {
    margin-top: 74px;
  }
}
