.page-header__logo {
  &:hover {
    opacity: 0.6;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}

.page-header {
  width: 320px;
  margin: 0 auto;
}

.page-header__logo-image {
  margin-left: 116px;
  margin-top: 22px;
  margin-right: 67px;
  margin-bottom: 12px;
  width: 86px;
  height: 35px;
}

@media (min-width: $tablet-width) {
  .page-header {
    position: relative;
    width: 768px;

    border: none;
  }

  .page-header__logo {
    position: absolute;

    top: 22px;
    left: 50px;
    z-index: 5;

    margin: 0;
  }

  .page-header__logo img {
    margin: 0;

    width: 112px;
    height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;
    width: 1150px;

    border: none;
  }

  .page-header__logo {
    position: absolute;

    top: 9px;
    left: 500px;
    z-index: 5;

    margin: 0;
  }

  .page-header__logo img {
    margin: 0;

    width: 149px;
    height: 72px;
  }
}
