.products {
  margin: 0 auto;
  margin-top: 30px;
  width: 260px;
}

.products__list {
  margin: 0;
  padding: 0;
}

.products__item {
  position: relative;
  width: 258px;
  margin-bottom: 30px;

  list-style: none;

  border: 1px solid #ececec;

  &::before {
    content: "";

    position: absolute;
    width: 204px;
    height: 1px;

    bottom: 72px;
    right: 28px;

    background-color: #ececec;
  }

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.products__title {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 19px;
  margin-left: 27px;
  width: 200px;

  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-align: left;
  color: $color-dark;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:focus,
  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.products__info {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  margin-left: 28px;

  font-size: 13px;
  font-weight: normal;
  line-height: 2.31;
  text-align: left;
  color: $color-bright;
}

.products__price {
  margin: 0;
  padding: 0;
  margin-top: 43px;
  margin-bottom: 26px;
  margin-left: 27px;

  font-size: 15px;
  font-weight: bold;
  line-height: 1.6;
  text-align: left;
  color: $color-dark;
}

.products__sell-img {
  position: absolute;

  width: 20px;
  height: 19px;

  bottom: 31px;
  right: 26px;

  fill: #d9d9d9;

  &:hover {
    fill: $btn-color;
  }

  &:active {
    fill: $btn-color;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .products {
    margin-left: 50px;
    margin-top: 80px;
  }

  .products__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 667px;
    margin-bottom: 54px;
    height: 332px;

    &::before {
      width: 268px;
      height: 1px;

      bottom: 72px;
      right: 33px;

      background-color: #ececec;
    }
  }

  .product__list {
    margin: 0 auto;
    margin-left: 52px;
  }

  .products__item img {
    width: 334px;
    height: 334px;
  }

  .products__title {
    margin: 0;
    width: 240px;
    padding-right: 40px;
    padding-top: 24px;

    font-size: 20px;
    line-height: 1.2;
  }

  .products__info {
    margin: 0;
    padding: 0;
    padding-right: 40px;
    margin-top: 7px;

    font-size: 15px;
    line-height: 2;

    flex-grow: 1;
  }

  .products__price {
    margin: 0;
    padding-left: 4px;
    margin-bottom: 27px;

    font-size: 17px;
    line-height: 1.41;
  }

  .products__sell-img {
    bottom: 30px;
    right: 32px;
  }
}

@media (min-width: $desktop-width) {
  .products {
    margin-left: 0;
    margin-top: 80px;
    width: 1110px;
  }

  .products__list {
    display: flex;
    flex-wrap: wrap;
  }

  .products__item {
    margin: 0;
    margin-top: 52px;
    margin-left: 50px;
    width: 314px;
    min-height: 657px;

    &::before {
      width: 256px;
    }
  }

  .products__item img {
    width: 316px;
    height: 462px;
  }

  .products__title {
    padding-left: 27px;
    padding-top: 16px;
  }

  .products__info {
    padding-left: 25px;
    margin-top: 4px;
  }

  .products__price {
    padding-left: 26px;
  }
}
