.reviews {
  width: 290px;
  margin: 0 auto;
  margin-top: 24px;
  padding-left: 29px;
}

.reviews__title {
  margin: 0;
  padding: 0;

  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: $color-dark;
}

.reviews__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.reviews__text {
  margin: 0;
  padding: 0;
  margin-top: 24px;
  width: 256px;

  font-size: 15px;
  font-weight: normal;
  line-height: 2;
  text-align: left;
  color: $color-bright;
}

.reviews__author-name {
  display: block;
  margin-top: 28px;
  margin-bottom: 3px;

  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-align: left;
  color: $color-dark;
  font-style: normal;
}

.reviews__author-email {
  margin: 0;
  padding: 0;

  font-size: 17px;
  font-weight: normal;
  line-height: 1.76;
  text-align: left;
  color: $color-bright;
}

.reviews__toggles {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding: 0;
  width: 258px;
  height: 52px;
  margin-top: 29px;
  margin-bottom: 37px;

  border: solid 1px #ececec;
  background-color: #ffffff;

  list-style: none;

  &::after {
    content: "";

    position: absolute;

    top: 0;
    left: 129px;

    width: 1px;
    height: 50px;

    background-color: #ececec;
  }
}

.reviews__toggle {
  margin: 0;
  padding: 0;
  width: 125px;
  height: 50px;

  cursor: pointer;

  &--back {
    border: none;
    background: url("../img/icon-left-arrow.svg") no-repeat #ffffff;
    background-position-x: 50%;
    background-position-y: 50%;
  }

  &--forward {
    border: none;
    background: url("../img/icon-right-arrow.svg") no-repeat #ffffff;
    background-position-x: 34px;
    background-position-y: 13px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}

.reviews__button {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: $color-bright;

  text-transform: uppercase;

  &:hover {
    background-color: $color-bright;
    color: #ffffff;
  }

  &:focus,
  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $color-bright;
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    min-height: 457px;
    position: relative;
    width: 768px;
    margin: 0 auto;
    padding: 0;
    margin-top: 29px;

    background: url("../img/review@1x.jpg") no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .reviews__title {
    margin: 0;
    padding: 0;
    padding-left: 45px;
    margin-right: 315px;
    margin-bottom: 5px;

    order: 1;

    font-size: 43px;
    line-height: 1.16;
  }

  .reviews__text {
    margin: 0;
    padding: 0;
    width: 645px;
    margin-left: 49px;
    margin-bottom: 62px;

    font-size: 17px;
    line-height: 1.76;
  }

  .reviews__author-email {
    margin: 0;
    padding: 0;
    margin-bottom: 45px;
    margin-left: 49px;

    font-size: 17px;
    line-height: 1.76;
  }

  .reviews__author-name {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    margin-left: 49px;

    font-size: 18px;
    line-height: 1.33;
  }

  .reviews__button {
    width: 172px;
    margin-top: 33px;
    padding-top: 15px;
    height: 33px;

    font-size: 17px;

    order: 2;
  }

  .reviews__list {
    order: 3;
  }

  .reviews__toggles {
    position: absolute;

    top: 330px;
    right: 7px;

    border: none;

    &::after {
      display: none;
    }
  }

  .reviews__toggle {
    &--back {
      border: none;
      background: url("../img/icon-left-arrow.svg") no-repeat #ffffff;
      background-position-x: 78%;
      background-position-y: 43%;
    }

    &--forward {
      border: none;
      background: url("../img/icon-right-arrow.svg") no-repeat #ffffff;
      background-position-x: 13px;
      background-position-y: 10px;
    }
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    min-height: 470px;
    width: 1120px;

    background: url("../img/review@1x.jpg") no-repeat 35px 7px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .reviews__title {
    margin: 0;
    padding: 0;
    padding-left: 206px;
    margin-right: 479px;
    margin-bottom: 3px;
    margin-top: 77px;

    font-size: 53px;
    line-height: 1.08;
  }

  .reviews__text {
    margin: 0;
    padding: 0;
    margin-left: 211px;
    margin-top: 46px;
    width: 770px;
  }

  .reviews__button {
    margin: 0;
    margin-top: 86px;
  }

  .reviews__author-name {
    margin: 0;
    padding: 0;
    margin-left: 211px;
    margin-top: 41px;

    font-size: 17px;
    line-height: 1.41;
  }

  .reviews__author-email {
    margin: 0;
    padding: 0;
    margin-left: 211px;
    margin-bottom: 102px;
    margin-top: 4px;
  }

  .reviews__toggles {
    top: 288px;

    &::after {
      display: none;
    }
  }

  .reviews__toggle {
    &--back {
      border: none;
      background: url("../img/icon-left-arrow.svg") no-repeat #ffffff;
      background-position-x: 100%;
      background-position-y: 43%;
    }

    &--forward {
      border: none;
      background: url("../img/icon-right-arrow.svg") no-repeat #ffffff;
      background-position-x: 28px;
      background-position-y: 10px;
    }
  }
}
