.social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  padding-top: 25px;
  width: 147px;
  justify-content: space-between;

  list-style: none;
}

.social__link {
  &--twitter {
    display: block;
    margin-top: 4px;
    margin-right: 6px;
  }

  &--instagram {
    display: block;
    margin-top: 5px;
  }

  &:hover {
    fill: $hvr-scnd-btn-color;
  }

  &:focus,
  &:active {
    fill: $hvr-scnd-btn-color;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    padding-top: 59px;
    margin-left: 159px;
  }
}

@media (min-width: $desktop-width) {
  .social__list {
    padding-top: 58px;
    padding-left: 191px;
  }
}
