.top-sale {
  width: 320px;
  margin: 0 auto;
  margin-top: 28px;
}

.top-sale__item {
  margin: 0;
  padding: 0;
  margin-left: 31px;

  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: $color-dark;
}

.top-sale__status {
  margin: 0;
  padding: 0;
  margin-top: 7px;
  margin-left: 30px;

  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: left;
  color: $btn_color;
  text-transform: uppercase;
}

.top-sale__description {
  width: 255px;
  margin: 0;
  padding: 0;
  margin-top: 22px;
  margin-left: 30px;

  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: $color-bright;
}

.top-sale__field,
.top-sale__value {
  margin: 0;
  padding: 0;
  padding-bottom: 19px;
  padding-right: 28px;

  font-size: 15px;
  font-weight: normal;
  line-height: 1.33;
  text-align: left;
  color: $color-bright;
}

.top-sale__price {
  margin: 0;
  padding: 0;
  margin-left: 97px;
  margin-top: 15px;
  margin-bottom: 28px;

  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-align: left;
  color: $color-bright;
}

.top-sale__button {
  margin-left: 30px;

  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: center;
  color: $color-bright;
  text-transform: uppercase;

  text-decoration: none;

  &:hover {
    color: #ffffff;

    background-color: $color-bright;
  }

  &:focus,
  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: $color-bright;
  }
}

.top-sale__table {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 19px;
  margin-left: 28px;
}

.top-sale__field {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    width: 260px;
    height: 2px;

    background: #f0f0f0;
  }
}

.top-sale__img {
  margin-left: 30px;
}

@media (min-width: $tablet-width) {
  .top-sale {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    margin-top: 45px;

    &::before {
      content: "";
      position: absolute;
      top: -56px;
      left: 0;
      width: 768px;
      height: 24px;

      background: url("../img/bg-zigzag-fill.svg") no-repeat 0 0;
      background-size: 100% auto;
    }
  }

  .top-sale__item {
    margin: 0;
    padding: 0;
    margin-left: 46px;

    font-size: 43px;
    line-height: 1.16;
  }

  .top-sale__status {
    margin: 0;
    padding-top: 12px;
    margin-left: 146px;
    width: 70px;

    line-height: 1;
    text-align: center;
  }

  .top-sale__description {
    margin: 0;
    margin-top: 50px;
    margin-left: 3px;
    width: 282px;

    font-size: 17px;
    line-height: 1.76;
    text-align: left;
  }

  .top-sale__table {
    margin: 0;
    margin-top: 46px;
  }

  .top-sale__img {
    position: absolute;

    top: 107px;
    right: 50px;
    width: 333px;
    height: 404px;
  }

  .top-sale__price {
    margin: 0;
    margin-right: 400px;
    margin-top: 47px;
    margin-left: 121px;

    font-size: 20px;
    line-height: 1.2;
  }

  .top-sale__button {
    margin: 0;
    margin-top: 34px;
    margin-left: 47px;
    width: 289px;

    padding-top: 15px;
    height: 33px;
  }

  .top-sale__wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 47px;
    width: 267px;
  }

  .top-sale__field {
    &::before {
      width: 291px;
      height: 2px;
    }
  }
}

@media (min-width: $desktop-width) {
  .top-sale {
    width: 1150px;
    margin-top: 43px;

    &::before {
      top: -61px;
      width: 1150px;
      height: 34px;

      background: url("../img/bg-zigzag-fill.svg") no-repeat;
      background-size: 100% auto;
      transform: scale(1.086);
    }
  }

  .top-sale__status {
    margin: 0;
    padding: 0;
    padding-top: 95px;
    padding-left: 97px;

    order: -1;
  }

  .top-sale__item {
    margin: 0;
    padding: 0;
    padding-left: 53px;
    padding-top: 79px;
    margin-right: 50px;

    font-size: 53px;
    font-weight: bold;
    line-height: 1.08;
    text-align: left;
  }

  .top-sale__table {
    margin: 0;
    padding: 0;
  }

  .top-sale__wrapper {
    margin-left: 222px;
    margin-right: 449px;
  }

  .top-sale__description {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-left: 4px;
    margin-bottom: 57px;
  }

  .top-sale__price {
    margin: 0;
    padding: 0;

    margin-top: 100px;
    margin-left: 299px;
    margin-right: 200px;
  }

  .top-sale__button {
    margin-left: 225px;
  }

  .top-sale__img {
    position: absolute;

    top: 27px;
    right: 50px;
    width: 525px;
    height: 636px;

    z-index: -1;
  }
}
