.user-information {
  margin: 0;
  padding: 0;
  margin-top: 36px;

  border: none;
}

.user-information__name {
  position: relative;

  font-size: 16px;
  font-weight: bold;
  line-height: 0.94;
  text-align: left;
  text-transform: uppercase;

  color: $btn-color;

  &::after {
    content: "";

    position: absolute;
    width: 198px;
    height: 1px;

    top: 7px;
    left: 62px;

    background-color: $btn-color;
  }
}

.user-information__list {
  margin: 0;
  padding: 0;
  margin-top: 30px;

  list-style: none;
}

.user-information__field {
  display: block;
  width: 155px;

  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  text-align: left;

  color: $color-dark;
}

.user-information__value {
  width: 260px;
  height: 50px;

  font-size: 17px;
  font-weight: normal;
  line-height: 1.06;
  text-align: left;
  color: $color-bright;

  border: none;
  box-shadow: inset 0 -2px 0 0 #000000;

  outline: none;

  &::placeholder {
    opacity: 0.3;
  }

  &:hover {
    box-shadow: inset 0 -2px 0 0 $btn-color;
  }

  &:focus,
  &:active {
    box-shadow: inset 0 -2px 0 0 $btn-color;
  }
}

.user-information__field--phone {
  position: relative;
  margin-top: 11px;

  text-transform: uppercase;
  color: $btn-color;

  &::after {
    content: "";

    position: absolute;
    width: 198px;
    height: 1px;

    top: 8px;
    left: 62px;

    background-color: $btn-color;
  }
}

.user-information__value--phone {
  margin-top: 5px;

  font-size: 19px;
  font-weight: normal;
  line-height: 0.95;
  text-align: left;
  color: $color-bright;
}

.user-information__img-phone {
  position: absolute;

  top: 34px;
  right: 8px;

  fill: #cdcdcd;
}

.user-information__img-email {
  position: absolute;

  top: 34px;
  right: 4px;

  fill: #cdcdcd;
}

.user-information__value:hover ~ .user-information__img-phone,
.user-information__value:hover ~ .user-information__img-email {
  fill: $btn-color;
}

.user-information__value:focus ~ .user-information__img-phone,
.user-information__value:focus ~ .user-information__img-email,
.user-information__value:active ~ .user-information__img-phone,
.user-information__value:active ~ .user-information__img-email {
  fill: $btn-color;
}

.user-information__field--email {
  position: relative;

  margin-top: 11px;

  text-transform: uppercase;
  color: $btn-color;

  &::after {
    content: "";

    position: absolute;
    width: 179px;
    height: 1px;

    top: 8px;
    left: 82px;

    background-color: $btn-color;
  }
}

.user-information__value--email {
  margin-top: 5px;

  font-size: 17px;
  font-weight: normal;
  line-height: 1.06;
  text-align: left;
  color: $color-bright;
}

.user-information__item {
  position: relative;
  padding-bottom: 21px;
}

@media (min-width: $tablet-width) {
  .user-information__list {
    position: relative;

    width: 665px;
    margin: 0 auto;
  }

  .user-information {
    position: relative;

    min-height: 496px;

    background: linear-gradient(white 0%, white 268px, #f1f1f1 268px, #f1f1f1 100%);
  }

  .user-information__name {
    position: absolute;

    top: 32px;
    left: 52px;
  }

  .user-information__item {
    display: flex;
    margin-top: 14px;
    padding-bottom: 10px;
  }

  .user-information__field--email::after,
  .user-information__field--phone::after,
  .user-information__name::after {
    display: none;
  }

  .user-information__field {
    margin-left: 166px;
    padding-top: 15px;
    width: auto;

    font-size: 19px;
    font-weight: bold;
    line-height: 0.95;
    text-align: left;
  }

  .user-information__value {
    width: 100%;
    margin-left: 25px;
    padding-left: 16px;

    font-size: 19px;
    font-weight: normal;
    line-height: 0.95;
    text-align: left;
  }

  .user-information__field--phone {
    margin: 0;
    margin-top: 79px;

    font-size: 17px;
    font-weight: bold;
    line-height: 0.94;
    text-align: left;
  }

  .user-information__value--phone {
    margin-top: 76px;
    margin-left: 133px;

    background: $bg-color-footer;
  }

  .user-information__field--email {
    margin: 0;
    width: 80px;
    margin-top: 1px;

    font-size: 17px;
    font-weight: bold;
    line-height: 0.94;
    text-align: left;
  }

  .user-information__value--email {
    margin-top: 0;
    margin-left: 105px;

    background: $bg-color-footer;
  }

  .user-information__img-phone {
    top: 87px;
    right: 25px;
  }

  .user-information__img-email {
    top: 11px;
    right: 21px;
  }
}

@media (min-width: $desktop-width) {
  .user-information__list {
    width: 1039px;
    margin-left: 111px;
  }

  .user-information__name {
    top: 31px;
    left: 112px;
  }

  .user-information__field {
    margin-left: 116px;
  }

  .user-information__item {
    width: 815px;
  }

  .user-information__field--phone {
    margin-left: 0;
    padding-top: 14px;
  }

  .user-information__value--phone {
    margin-left: 82px;
  }

  .user-information__field--email {
    margin-left: 0;
    padding-top: 17px;
  }

  .user-information__value--email {
    margin-left: 45px;
  }

  .user-information__img-phone {
    top: 86px;
    right: 9px;
  }

  .user-information__img-email {
    top: 10px;
    right: 5px;
  }
}
