$color-dark: #000000;
$color-bright: #444444;
$btn-color: #63d1bb;
$hvr-btn-color: #59d5bc;
$scnd-btn-color: #56c3b2;
$hvr-scnd-btn-color: #46c1ae;
$bg-color-footer: #f1f1f1;
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
